.header{
    position: fixed;
}

.model{
    position: fixed;
    background: rgba(0,0,0,0.4) ;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.form{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: "DM Serif Text", serif;     
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

:-webkit-scrollbar-horizontal {
    height: 4px; 
}

::-webkit-scrollbar-thumb:horizontal {
    background: #888; 
    border-radius: 10px; 
}

.form_header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--color-button);
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #4f4f4fd4;
}

.form_body {
    padding: 20px 0px ;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.gender-selection,
.weight-input,
.height-input {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 15px;
    text-transform: uppercase;
}

.weight-input,.height-input{
    align-items: center;
}

.weight-input input,
.height-input input {
    padding: 10px;
    font-size: 14px;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.weight-input input:focus,
.height-input input:focus {
    border-color: #4CAF50;
}

.skintone div:nth-child(1) {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.skintone-options {
    display: flex;  
    flex-wrap: wrap;
    gap: 40px;       
}

.skintone-option {
    aspect-ratio: 1/1;
    width: 50px;
    height: auto;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    transform: scale(1.2);
}

.skintone-option input[type="radio"] {
    display: none;  
}

.skintone-option:nth-child(1):hover{
    background-color: #dfac96;
}

.skintone-option:nth-child(2):hover{
    background-color: #f1d9c7;
}

.skintone-option:nth-child(3):hover{
    background-color: #e2c6c0;
}

.skintone-option.active {
}

.skintone-option.active:hover {
    color: var(--color-button);
}

input[type="hidden"] {
    display: none;  
}

.submit_btn {
    width: 90px;
    height: 40px; 
    align-self: center;
    background-color: var(--color-button); 
    color: white; /* Màu chữ trắng */
    font-size: 14px; 
    border: 1px solid var(--color-button);
    outline: none;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; /* Hiệu ứng khi hover */
    text-transform: uppercase; /* Chuyển đổi chữ hoa */
    font-family: "DM Serif Text", serif;     

}

.submit_btn:hover {
    background-color: var(--color-button-text);
    color: var(--color-button);
    transform: scale(1.05); /* Tăng nhẹ kích thước khi hover */
}

.submit_btn:active {
    background-color: var(--color-button-text);
    color: var(--color-button);
    transform: scale(0.98); /* Nhỏ lại một chút khi nhấn */
}

.close_btn:hover {
    transform: scale(1.3); /* Tăng nhẹ kích thước khi hover */
    cursor: pointer; 
}

.close_btn:active {
    transform: scale(0.98); /* Nhỏ lại một chút khi nhấn */
}

.information{
    width: 900px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.information_header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--color-button);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.information_body{
    width: 100%;
    height: 85%;
    display: flex;
    gap: 50px;
}

.in_body_1 {
    height: 100%; 
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-right: 2px solid #e0e0e0; /* Thêm đường viền giữa các phần tử để tạo sự phân cách rõ ràng */
    gap: 20px;
    font-family: "Castoro", serif;
    font-size: 20px;
    font-weight: 550;
}

.in_body_1 img {
    aspect-ratio: 1/1;
    width: 250px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
    background-color: #cecece;
    filter: drop-shadow(0 0 37px rgba(0, 0, 0, 0.226)); 
}

.in_body_2 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    
}

/* Các hàng dữ liệu */
.measurement-row,
.suggestion-row {
    display: flex;
    justify-content: space-between; /* Căn đều các mục trong một hàng */
    gap: 15px; /* Khoảng cách giữa các mục trong hàng */
    margin-bottom: 15px; /* Tạo khoảng cách giữa các hàng */
}

/* Các nhãn và giá trị */
.in_body_2 span {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 20px; /* Tạo khoảng cách giữa nhãn và giá trị */
    font-weight: bold; /* Nhấn mạnh nhãn */
    color: black; /* Thêm màu tối cho nhãn */
}

.value {
    font-weight: normal; /* Giá trị bình thường */
    padding-right: 20px;
    color: #555; /* Thêm màu nhạt hơn để tạo sự phân biệt với nhãn */
}

/* Tùy chỉnh thêm để gọn gàng */
.suggestion-row span,
.measurement-row span {
    flex: 1; /* Đảm bảo các mục có khoảng cách đều */
}

/* Style cho Color và Pattern */
.suggestion-color,
.suggestion-pattern {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Căn đều nhãn và giá trị */
    padding: 10px 0;
    border-top: 1px solid #ddd; /* Tạo đường kẻ phân cách */
    font-size: 15px; /* Giảm kích thước để phù hợp */
}

.announcement span {
    font-size: 14px; 
    color: #555; 
}

.hide{
    display: none;
}


.hide{
    display: none;
}

@keyframes slideInTop {
    from{
        transform: translateY(-100%);
        opacity: 0;
        
    }

    current{
        opacity: 1;
    }
    
}


.slideInTop{
    animation: slideInTop 0.7s ease-in-out forwards;  
}

@keyframes slideInRight {
    from{
        transform: translateX(100%);
        opacity: 0;
        
    }

    current{
        opacity: 1;
    }
    
}

.slideInRight{
    animation: slideInRight 0.7s ease-in-out forwards;  
}

@keyframes slideOutTop {
    from{
        transform: translateY(0);
        opacity: 1;
        
    }

    to{
        transform: translateY(-100%);
        opacity: 0;
    }
    
}

.slideOutTop{
    animation: slideOutTop 0.7s ease-in-out forwards;  
}


@keyframes slideLeft {
    from {
        transform: translateX(+100%);
    }
    to {
        transform: translateX(0); 
    }
}

.slideLeft {
    animation: slideLeft 0.7s ease-in-out forwards;
}

