.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    background-color: var(--primary-color-2);
    border-bottom: 2px solid #ccc;

    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.header-logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color-1);
}

.header-center ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    width: 100%;
}

.header-center li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center a {
    text-decoration: none;
    color: var(--primary-color-1);
    padding: 12px 20px;
    text-align: center;
    border-radius: 10px;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
}

.header-center a::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease;
}

.header-center a:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-right div:hover {
    background-color: var(--primary-color-1);
}

.header-right div:hover i {
    color: var(--primary-color-2); 
}

.header-right i {
    color: var(--primary-color-1);
    font-size: 20px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-center ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .header-logo a {
        font-size: 20px;
    }

    .header-center a {
        font-size: 14px;
    }

    .header-right {
        gap: 10px;
    }

    .header-right div {
        height: 30px;
        width: 30px;
    }
}