* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 5px 2%;

    display: grid;
    place-items: center; 
}

:root {
    --primary-color-1: #333;
    --primary-color-2: #fff;
    --color-cloud: #87A2FF;
}
